@charset "utf-8";

:root {
  --bg-body-ivory: #FFFEFB;
  --txt-black :#141414;

  --bg-hero-ivory: #FEFBF5;
  --logo-color: #173320;
  --main-blue: #C4E1F6;
  --main-pink: #FFB2B2;
  --main-yellow: #FFE893;

  --gray-box: #eee;
  --gray-txt: #787878;

  --font-design: 'Gmarket Sans', sans-serif;
  --font-nonmal: 'Pretendard', sans-serif;

  --box-shadow: 0 4px 20px rgba(0, 0, 0, 0.03);
}

/* bg_circle */
.bg_circle { 
  aspect-ratio: 1/1; width: 1000px; position: absolute;
}
.bg_yellow {
   background: url(../img/main/bg_circle_yellow.png) no-repeat center / cover;
   right: -30%; top: -10%; z-index: -5;
}
.bg_pink {
  aspect-ratio: 1/1; width: 1600px; background: url(../img/main/bg_circle_pink.png) no-repeat center / cover;
  position: absolute; left: -60%; top: 40%; z-index: -5;
}
.bg_blue{
  display: inline-block; aspect-ratio: 1/1; width: 1220px;background: url(../img/main/bg_circle_blue.png) no-repeat center / 100%; z-index: -5;
  position: absolute; left: -30%; top: 0;
}

@media (max-width:1200px){
  .bg_circle { 
    transform: scale(0.8);
  }
  .bg_yellow{
    right: -40%;
  }
  .bg_pink {
    left: -80%; top: 50%;
  }
  .bg_blue {
    left: -42%;
    top: -20%;
  }
}
@media (max-width:980px){
  .bg_circle { 
    transform: scale(0.6);
  }
}
@media (max-width:760px){
  .bg_circle { 
    transform: scale(0.6);
  }
  .bg_yellow{
    right: -70%;
  }
  .bg_pink {
    left: -130%; top: 50%;
  }
  .bg_blue {
    left: -42%;
    top: -20%;
  }
}
@media (max-width:760px){
  .bg_circle { 
    transform: scale(0.45);
  }
  .bg_yellow{
    right: -160%;
  }
  .bg_pink {
    left: -250%; top: 50%;
  }
  .bg_blue {
    left: -200%; top: -50%;
  }
}
/* ------------
      main 
  ------------- */

/* hero */
.hero {
  height: 250vh;
  background-color: var(--bg-hero-ivory);
  position: relative;
  overflow: hidden;
}

.hero_content {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.6s ease, transform 0.6s ease;
  pointer-events: none;
}

.hero_center_group {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
  width: 100%;
  max-width: 960px;
  padding: 0 1rem;
  z-index: 2;
}

.hero_text_group {
  font-family: var(--font-design);
  display: flex; flex-direction: column; gap: 0.5rem;
}

.ko_title {
  font-size: 3.2rem; color: var(--txt-black); transition: opacity 0.5s ease;
}

.ko_sub {
  font-size: 5rem; font-weight: 700; color: var(--txt-black); transition: opacity 0.5s ease;
}

.en_sub {
  font-size: 8rem;
  font-weight: 700;
  color: var(--main-yellow);
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.6s ease;
  position: relative;
  z-index: 1;
}

.tree_wrapper {
  margin-top: 3rem;
  transform-origin: center center;
  z-index: 3;
}

.tree {
  width: 20vw;
  max-width: 220px;
  transition: transform 0.3s ease;
}
.cta_button {
  margin-top: 2rem; pointer-events: auto; z-index: 4;
}

.cta_button button {
  font-family: var(--font-nonmal); font-size: 2.6rem; color: #fff; font-weight: 600; padding: 5px 60px 7px ; cursor: pointer; 
  background: var(--txt-black); border-radius: 100px; transition: all 0.5s;  white-space: nowrap;
}
.cta_button button:hover {
    background: var(--main-yellow); color: var(--logo-color);
}
.floating_img_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}
.floating_img {
  position: absolute;
  width: 150px;
  transition: all 0.6s ease;
  will-change: transform, opacity;
}

.floating_img img {
  width: 100%;
  height: auto;
}

.floating_img_1 { top: 2%; left: 10%; }
.floating_img_2 { top: 25%; left: 3%; }
.floating_img_3 { top: 46%; left: 15%; }
.floating_img_4 { top: 8%; right: 10%; }
.floating_img_5 { top: 35%; right: 5%; }
.floating_img_6 { top: 60%; right: 15%; }
.floating_img_7 { top: 60%; left: 5%; }

@media (max-width: 768px) {
  .ko_title{
    font-size: 2.6rem;
  }
  .ko_sub, .en_sub {
    font-size: 3.2rem;
  }
  .tree {
    width: 100px;
  }
  .floating_img {
    width: 60px;
  }
  .cta_button button {
    font-size: 2rem; padding: 2px 48px 4px;
  }
}

.next_section {
  background: var(--bg-body-ivory);
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.next_section.active {
  opacity: 1;
  transform: translateY(0);
}

/* edu_pr */
.content_list {
  width: 100%; display: flex; gap: 8px; flex-wrap: wrap;
}
.content_list li {
  width: calc((60% - 24px) / 3); height: 220px;  padding: 50px 0 30px; transition: all 0.5s; background: #eee; border-radius: 10px; cursor: default;
}
.content_list li.active,
.content_list li:hover{
  width: 40%; background-image: none; height: 220px; 
}
.card_title {
  text-align: center; height: 50%;
}
.card_title h5 {
  font-size: 2.2rem; font-weight: 700;  white-space: wrap;
}
.card_title p {
  font-size: 1.8rem; padding: 20px 0; opacity: 0; transition: all 0.5s; word-break: keep-all;
}
.content_list li.active .card_title p {
  opacity: 1;
}
.content_list li:nth-child(1) {
  background: url(../img/main/keyword_card_01.png) no-repeat center / 30% #ECE9FC;
}
.content_list li:nth-child(2) {
  background: url(../img/main/keyword_card_02.png) no-repeat center / 30% #F8E8F2;
}
.content_list li:nth-child(3) {
  background: url(../img/main/keyword_card_03.png) no-repeat center / 30% #DCF9E5;
}
.content_list li:nth-child(4) {
  background: url(../img/main/keyword_card_04.png) no-repeat center / 30% #FBF3CC;
}
@media(max-width:1260px){
  .card_title h5 {
    font-size: 2rem; word-break: keep-all;
  }
}
@media(max-width:1160px){
  .card_title h5 {
    font-size: 1.8rem;
  }
  .content_list li.active,
  .content_list li{
    width: calc(50% - 4px); padding: 50px 12px 30px;
  }
}
@media(max-width:768px){
  .card_title p {
    font-size: 1.6rem;
  }
}
@media(max-width:680px){
  .card_title p br {
    display: none;
  }
}
@media(max-width:540px){
  .content_list li.active,
  .content_list li{
    width: 100%;
  }
}
@media(max-width:430px){
  .card_title p {
    font-size: 1.4rem; opacity: 1;
  }
}

/* evtBanner */
#evtBanner {
  padding: 50px 0;
}
.evt_banner { 
  height: 230px; width: 100%; border-radius: 10px; overflow: hidden; background: var(--gray-box);
}

/* curriculum */
#curriculum{
  padding-top: 80px;
}
#curriculum .sec_title{
  padding-bottom: 30px;
}
.class_quick_list { 
  display: flex; width: 100%; justify-content: space-around; flex-wrap: wrap; 
}
.class_quick_list > li{
  display: flex; justify-content: center; 
}
.icon_class > p {
  font-size: 2rem;
}
.quick_item a {
  text-align: center; max-width: 90px; padding: 28px 0; transition: all 0.5s;
}
.quick_item:hover a {
  transform: scale(1.1); color: var(--logo-color);
}
.icon_class {
  margin-bottom: 12px;
}
.icon_class > img {
  width: 100%; height: 100%;
}

@media (max-width:1350px){
  .icon_class {
    width: 100px ;
  }
}
@media (max-width:1140px){
  .icon_class > p {
    font-size: 2rem;
  }
  .icon_class {
    width: 93px ;
  }
}
@media (max-width:987px){
  .icon_class > p {
    font-size: 1.8rem;
  }
  .icon_class {
    width: 80px ;
  }
}
@media (max-width:880px){
  .quick_item {
    width: calc((100% - 10px) / 5) ;
  }
  .icon_class {
    width: 100%; max-width: 80px;
  }
  .quick_item a{
    padding: 20px 0;
  }
}
@media (max-width:430px){
  #curriculum .sec_title{
    padding: 40px 0 10px;
  }
  .icon_class > p {
    font-size: 1.6rem;
  }
  .quick_item a{
    padding: 12px 10px;
  }
  .icon_class {
    width: 60px;
  }
  .icon_class > p {
    font-size: 1.4rem;
  }
}
@media (max-width:380px){
  .quick_item a{
    padding: 6px 10px;
  }
  .icon_class{
    width: 50px;
  }
  .icon_class > p {
    font-size: 1.2rem;
  }
}

/* pione_class */
#pione_class {
  position: relative;
}
#pione_class .inner > div {
  margin-bottom: 100px;
}
.list_top_box {
  display: flex; width: 100%; justify-content: space-between; align-items: flex-end; padding-left: 3px;
}
.list_top_box > .sec_title {
  padding-bottom: 20px; 
}

/* all_view */
.all_view a { 
  font-size: 2.2rem; padding: 3px 3px 3px 32px; margin-bottom: 18px; 
  position: relative; transition: all 0.5s;
}
.all_view:hover a {
  color: var(--logo-color);
} 
.all_view a::before {
  display: block; content: ""; width: 0; height: 50%; background: var(--main-yellow); 
  position: absolute; left: 24PX; bottom: 0;  z-index: -1; transition: all 0.5s;
} 
.all_view:hover a::before { 
  width: 80%;
 }

@media (max-width:980px) {
  .all_view a{
    font-size: 2rem; padding: 3px 28px ;
  }
}
@media (max-width:630px) {
  .all_view a{
    font-size: 1.8rem; padding: 6px 26px; margin-bottom: 16px;
  }
}
@media(max-width:540px){
  .list_top_box {
    flex-direction: column; align-items: flex-start;
  }
  .list_top_box > .sec_title {
    padding-bottom: 12px;
  }
  .all_view a{
    font-size: 1.6rem; padding: 2px 26px 2px 5px; margin-bottom: 12px;
  }
  .all_view a::before {
    left: -3px; bottom: 2px;
  }
}
/* review */
section#review {
  height: 860px; padding: 320px 0 50px; 
  position: relative;
}
#review .sec_title{
  text-align: center;
}
.swiper-wrapper{
  display: flex;
}
.review_area {
  padding-top: 20px; overflow-x: hidden;
}
.review_area > div {
  margin-bottom: 3px;
}
.review_area > div.btm_slide > div{
  margin-left: 37%;
}
.review_box {
  display: flex; gap: 10px; border-radius: 10px; box-shadow: var(--box-shadow); padding: 15px; background: #fff;
}
.review_img_data{
  aspect-ratio: 1/1;  width: 30%;  height: 100%; border-radius: 5px;
  background: url(../img/main/main_review_kid_01.png) no-repeat center / cover;
}
.txt_area{
  width: 100%;
}
.img_review_txt{
  width: calc(70% - 10px);
}
.top_info {
  margin-bottom: 20px;
}
.class_cartagory {
  font-size: 1.4rem; color: var(--logo-color);
}
.nicknmae {
  font-size: 1.8rem;
}
.review_txt_data p {
  font-size: 2.2rem; width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;  
}
.bg_cloud {
  width: 100%; height: 100%; background: url(../img/main/bg_review.png) no-repeat center / cover; 
  position: absolute; top: 0; z-index: -1;
}
@media(max-width:1200px){
  section#review {
    height: 800px; padding: 280px 0 50px; 
  }
}
@media(max-width:980px){
  section#review {
    height: 630px; padding: 200px 0 30px; 
  }
  .nicknmae{
    font-size: 1.6rem;
  }
  .review_txt_data p{
    font-size: 1.8rem;
  }
}
@media(max-width:600px){
  section#review {
    padding: 180px 0 30px; 
  }
  .review_box{
    padding: 12px;
  }
  .review_img_data {
    display: none;
  }
  .nicknmae{
    font-size: 1.4rem;
  }
  .review_txt_data p{
  font-size: 1.6rem;
  }
}
@media(max-width:600px){
  section#review {
    height: 550px;
  }
}
/* special_keyword */
#special_keyword .sec_title {
  text-align: center;
}
.keyword_list{
  height: 750px; position: relative;
}
.keyword_list::after {
  display: block; content: ""; width: 6px; height: 100%; background: var(--main-blue); border-radius: 20px;
  position: absolute; left: 50%; bottom: 0; transform: translateX(-50%); z-index: -10;
}
.list_item {
  width: 100%; padding: 30px 60px; margin-bottom: 80px;
  position: relative;
}
.list_item:nth-child(2){
  margin-top: 220px;
}
.right_box .list_item::after {
  display: block; content: ""; width: 30px; height: 30px ; background: url(../img/main/icon_flower.png) no-repeat center/ 100%;
  position: absolute; top: 50%; transform: translateY(-50%); left: -15px; z-index: 1;
}
.left_box  .list_item::after {
  display: block; content: ""; width: 30px; height: 30px ; background: url(../img/main/icon_flower.png) no-repeat center/ 100%;
  position: absolute; top: 50%; transform: translateY(-50%); right: -15px; z-index: 1;
}
.list_item h5 {
 font-size: 3.2rem; font-weight: 700; 
}
.list_item h5+p{
  font-size: 2.2rem; margin: 0 3px; word-break: keep-all;
}
.left_box {
  text-align: right; width: 50%; position: absolute; top: 135px; left: 0; margin-top: 80px;
}
.right_box {
  position: absolute; width: 50%; top: 0; right: 0; margin-top: 48px;
}

/* vedio */
.vedio_area {
  margin-bottom: 50px;
}
.vedio {
  aspect-ratio: 16/9; max-width: 100%; width: 100%; background: #eee; border-radius: 10px; margin: 0 auto;
}

@media (max-width:1200px) {
  .left_box .list_item {
    padding: 20px 50px 20px 0
  }
  .right_box .list_item {
    padding: 20px 0 20px 50px
  }
  .list_item h5 {
    font-size: 3rem;
  }
  .list_item h5+p {
    font-size: 2rem;
  }
}
@media (max-width:980px) {
  .list_item {
    margin-bottom: 60px;
  }
  .right_box .list_item{
    padding: 20px 0 20px 40px;
  }
  .left_box .list_item{
    padding: 20px 40px 20px 0 ;
  }
  .list_item h5 {
    font-size: 2.8rem;
  }
  .list_item h5+p{
    font-size: 1.8rem;
  }
}
@media (max-width:860px) {
  .list_item h5 {
    font-size: 2.6rem;
  }
  .list_item h5+p{
    font-size: 1.6rem;
  }
}
@media (max-width:768px) {
  .keyword_list::after{
    width: 4px;
  }
  .right_box .list_item::after{
    width: 25px; height: 25px; left: -12px;
  }
  .left_box .list_item::after{
    width: 25px; height: 25px; right: -12px;
  }
  .right_box .list_item{
    padding: 20px 0 20px 30px;
  }
  .left_box .list_item{
    padding: 20px 30px 20px 0 ;
  }
}

@media (max-width: 730px) {
  #special_keyword .sec_title {
    text-align: left;
  }
  .keyword_list{
    height: 310px; position: relative;
  }
  .keyword_list::after {
    left: 2%;
  }
  .list_items{
    padding-left: 50px;
  }
  .list_items > div{
    width: 100%;
  }
  .list_item h5 {
    font-size: 2.2rem; 
  }
  .right_box, 
  .left_box{
    margin: 0; position: static;
  }
  .right_box .list_item,
  .left_box .list_item{
    padding: 0 0 20px 0 ; text-align: left; margin: 0;
  }
  .right_box .list_item::after,
  .left_box .list_item::after{
    left: -50px; 
  }
}
@media (max-width: 455px) {
  .right_box .list_item::after, .left_box .list_item::after {
    left: -35px;
  }
  .list_items{
    padding-left: 30px;
  }
}
@media (max-width: 400px) {
  .keyword_list{
    height: 300px;
  }
  .list_item h5{
    font-size: 2rem;
  }
  .list_item h5+p{
    font-size: 1.4rem; margin: 0;
  }
}
/* teacher */
#teacher{
  position: relative; margin-top: 120px;
}
#teacher .inner {
  overflow: hidden; 
}
.teacher_info_con ul{
  width: 100%; display: flex; align-items: center; justify-content: center; gap: 2px;
}
 .teacher_info_con ul li {
  position: relative; aspect-ratio: 5/7 ;
  width: calc((100% - 24px) / 4); background: #eee; border-radius: 20px;
  background: url(../img/common/profile_teacher_01.jpg) no-repeat center / cover;
}
.btm_info_box {
  width: 100%; display: flex; justify-content: space-between; align-items: flex-end;  padding: 15px;
  position: absolute; bottom: 0;
}
.info_txt .name {
  font-size: 2.6rem; font-weight: 700; color: #fff;
}
.info_txt .teaching {
  font-size: 1.8rem; color: #fff;
}
.go_link a {
  font-size: 1.6rem; color: #fff; padding: 3px 12px; background: rgba(255, 255, 255, 0.2); backdrop-filter: blur(10px); border-radius: 50px; margin: 8px 0 3px; transition: all 0.5s;
}
.go_link:hover a {
  background: #fff; color: var(--txt-black);
}

@media (min-width: 1180px) {
  .teacher_info_con ul {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    gap: 8px;
  }
  
  .teacher_info_con ul li {
    position: relative; 
    aspect-ratio: 5/7;
    width: calc((100% - 24px) / 4); 
    background: #eee; 
    border-radius: 20px;
    background: url(../img/common/profile_teacher_01.jpg) no-repeat center / cover;
  }
}
@media (max-width:1060px) {
  .btm_info_box{
    align-items: flex-start; flex-direction: column;
  }
  .info_txt{
    padding-left: 3px; line-height: 1.2;
  }
}
@media (max-width: 1000px) {
  .teacher_info_con {
    overflow: hidden;
  }
  
  .teacher_info_con .swiper-wrapper {
    display: flex;
    align-items: center;
  }
  
  .teacher_info_con .swiper-slide {
    aspect-ratio: 5/7;background: #eee; border-radius: 10px; background: url(../img/common/profile_teacher_01.jpg) no-repeat center / cover; height: auto; flex-shrink: 0;
    position: relative; 
  }
}
@media (max-width:768px) {
  #teacher{
    margin-top: 80px;
  }
  .btm_info_box{
    padding: 10px;
  }
  .info_txt .name{
    font-size: 2.4rem; 
  }
  .info_txt .teaching {
    font-size: 1.6rem;
  }
  .go_link a {
    padding: 3px 20px;
  }
}
@media (max-width:388px) {
  #teacher{
    margin-top: 60px;
  }
}

/* cta_btn */
.cta_btn {
  margin: 150px 0; 
}
.cta_btn a {
   width: fit-content; font-size: 3.2rem; font-weight: 600; color: var(--logo-color); border: 2px solid var(--logo-color); border-radius: 50px; 
   position: relative; padding: 12px 80px 10px; margin:  0 auto; transition: all 0.5s; overflow: hidden;
}
.cta_btn a::before {
  display: inline-block; width: 0; height: 100%; content: ""; background: var(--main-yellow); border-radius: 100px;
  position: absolute; left: 0; top:0; z-index: -1; transition: all 0.5s;
}
.cta_btn:hover a::before {
  width: 100%; 
}

@media (max-width:980px) {
  .cta_btn a{
    font-size: 2.8rem; padding: 8px 60px 6px;
  }
}
@media (max-width:768px) {
  .cta_btn a{
    font-size: 2.6rem;
  }
  .cta_btn {
    margin: 100px 0 120px; 
  }
}
@media (max-width:580px) {
  .cta_btn a{
    font-size: 2.4rem; padding: 6px 50px 4px;
  }
}
@media (max-width:480px) {
  .cta_btn {
    margin: 80px 0 120px; 
  }
}
@media (max-width:420px) {
  .cta_btn a{
    font-size: 2.2rem;
  }
}
@media (max-width:360px) {
  .cta_btn a{
    font-size: 2rem; padding: 3px 38px;
  }
  .cta_btn {
    margin: 60px 0 80px; 
  }
}
@media (max-width:330px) {
  .cta_btn a{
    font-size: 1.8rem; padding: 3px 38px; border-width: 1.5px;
  }
}